bin/*
!bin/masters.lib
Research/*.exe
Research/*.obj
RESEARCH/*.EXE
RESEARCH/*.OBJ

# Borland C++ ILINK32 debug information - can't be deactivated, unfortunately.
*.tds
*.TDS

# Converted sprites
*.[ac]sp
*.[AC]SP
